%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
	&::after {
		@extend %ic;
		display: block;
	}
}

  
._icon-btn-arrow:before {
	content: "\e900";
  }
  ._icon-arrow-bottom:after {
	content: "\e901";
  }

  ._icon-back-all:before {
	content: "\e902";
  }
  
  