//====================================================================================================

//====================================================================================================


.footer {
    @include adaptiveValue("margin-top", 200, 108);
    &__container {
        @include adaptiveValue(padding-left, 50, 20, 1500, 1000, 1);
        @include adaptiveValue(padding-right, 50, 20, 1500, 1000, 1);
        @media (max-width:$mobile){
             padding: 0; 
        }
        
    }

    &__question {
        @include adaptiveValue("margin-bottom", 214, 111, 1500, 375, 1);
    }

    &__title {
        @include adaptiveValue("margin-bottom", 111, 62, 1500, 375, 1);
        line-height: 44px;
        :last-child {
            color: $actionColor;
        }
    }

    &__button {
        text-align: center;
        @media (max-width:$mobile){
             margin-bottom: rem(41); 
        }

        @media (max-width:$pc){
              margin-right: 10px;
        }
    }

    &__area {
        background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
        @include adaptiveValue("padding-top", 50, 44, 1500, 375, 1);
        @include adaptiveValue("padding-bottom", 62, 32, 1500, 375, 1);
    }

    &__logo {
        width: 129px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width:$mobile){
             margin-bottom: rem(25); 
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        max-width: rem(1127);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 rem(13);
        @include adaptiveValue("margin-bottom", 98, 0);
        @media (max-width:$mobile){
              flex-direction: column;
              
        }

        .footer__button {
            margin-right: rem(32);

            @media (max-width:$mobile){
                margin-right: rem(30);
            }
        }
    }

    &__menu {
       
    }

    &__copyright {
        text-align: center;
       
    }


    .menu {

        margin-left: rem(30);
        margin-top: rem(-3);

        @media (max-width:$mobile){
            margin-left: rem(0); 
        }

		&__body {
			transition: 0.3s ease;
            @media (max-width:$mobile){
                margin-bottom: rem(38);

            }
		}

		&__list {
			display: flex;
			justify-content: flex-start;
			@media (max-width:$mobile){
				  flex-direction: column;
				//   justify-content: center;
				  align-items: center;
				  width: 100%;
				//   margin-bottom: rem(69);
				//   margin-top: rem(166);
			}
		}

		&__item {
			@media (max-width:$mobile){
                line-height: 28px;
			}
			
		}

		&__link {
			font-size: 14px;
			font-weight: 600;
			color: $mainDarckColor;
			padding: rem(25);
            display: inline-block;
           
			@include adaptiveValue(padding-right, 24, 15, 1100, 880, 1);
			@include adaptiveValue(padding-left, 24, 15, 1100, 880, 1);

            @media (max-width:$mobile){
                padding: rem(7.5);
            }

			@media (any-hover: hover){
				&:hover{
					color: $actionColor;
				}
			}
		}
}
}



